@import 'colors';
@import 'animation';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 72px;
}
body {
	position: relative;
	background-color: $bg-color;
	font-family: 'Montserrat, sans-serif';
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
nav {
	height: 72px;
	position: absolute;
	text-transform: uppercase;
	z-index: 15;
	transition: background-color 0.6s;

	a,
	i {
		color: $white;
	}

	.nav-link {
		color: $white;
	}
	a:hover {
		color: $main-color;
	}
	.fa-bars {
		padding: 10px;
		color: $white;
	}
	.fa-headset {
		padding-right: 10px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.active {
		color: $main-color;
	}
}
.fa-headset {
	color: $white;
}
.navbar-brand {
	color: $white;
}
.navbar-brand:hover {
	color: $main-color;
}

header {
	height: 100vh;
	h1,
	p {
		color: $white;
	}
	.main-img {
		position: relative;
		background-image: url('/Img/game-console-g35ac9680c_640.jpg');
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;

		.main-text {
			position: absolute;
			top: 40%;
			display: flex;
			align-items: center;
			flex-direction: column;
			text-transform: uppercase;
			z-index: 10;
			width: 100%;
			text-align: center;
		}
		.main-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 5;
		}
		.btn-outline-light {
			text-transform: uppercase;
		}
		.fa-chevron-down {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 50px;
			color: $white;
			z-index: 10;
		}
	}
}
.technology {
	color: $white;
	position: relative;
	background-image: url('/Img/technology-_640.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;

	.technology-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
		top: 0;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		text-transform: uppercase;
		font-size: 26px;
	}
	.aboutus-card-text {
		font-size: 20px;
	}
	
	.about-us-hover:hover {
		color: $main-color;
		cursor: pointer;
	}
}
.technology-item {
	margin: 10px 0;
	i {
		font-size: 36px;
	}
	p {
		font-size: 20px;
	}
	.aboutus-technology-title {
		font-size: 24px;
	}
}
.portfolio {
	position: relative;
	.carousel-item {
		height: 50vh;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 40px 0;
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.prices {
	.price-info {
		font-size: 20px;
		a {
			text-decoration: none;
		}
	}
	.text-muted {
		font-size: 20px;
		span {
			font-size: 20px;
			text-transform: uppercase;
			color: $grey;
			font-weight: bold;
		}
	}

	.row {
		margin-bottom: 30px;
	}

	.option {
		margin: 20px 0px;
		padding: 30px 50px;
		background-color: $white;
		box-shadow: 10px 11px 10px -6px rgba(66, 68, 90, 1);
		transition: transform 0.3s;

		span {
			letter-spacing: 1px;
			font-size: 18px;
			color: $black;
			font-weight: bold;
		}
		i {
			font-size: 30px;
			letter-spacing: 10px;
			margin-left: 5px;
		}
		h3 {
			color: $main-color;
			font-size: 34px;
			text-transform: uppercase;
		}
		p {
			font-size: 18px;
		}
		p.price {
			font-size: 36px;
			font-weight: bold;
		}
		.btn {
			padding: 10px 30px;
			font-size: 20px;
			text-transform: uppercase;
			color: $white;
			letter-spacing: 1px;
		}
	}
	.option:hover {
		transform: scale(1.07);
	}
}

.team {
	position: relative;
	background-image: url(/Img/team/chairs-2181980_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	.team-shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	h2 {
		color: $bg-color;
	}

	i {
		padding: 10px;
		font-size: 20px;
	}
	.card {
		transition: transform 0.3s;

		img {
			height: 300px;
			object-fit: cover;
		}
		.card-title {
			text-transform: uppercase;
			text-align: center;
			font-size: 24px;
		}
		.card-text {
			font-size: 18px;
		}
	}
	.card:hover {
		transform: scale(0.96);
	}
}
.achievements-list {
	padding: 20px 0;
	.achievement {
		i {
			font-size: 40px;
			color: $white;
			padding: 10px;
			text-shadow: 0 0 5px #000;
		}
		.achievement-number {
			font-size: 22px;
		}
		.achievement-text {
			font-size: 22px;
			text-transform: uppercase;
		}
	}
}
.contact {
	position: relative;
	background-image: url(/Img/architecture-1868667_640.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;

	z-index: 0;
	h2 {
		color: $white;
	}
	.underline {
		background-color: $white;
	}
	.contact-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0, 9, 27, 0.85);
		z-index: -1;
	}
	.contact-item {
		h3 {
			font-size: 28px;
			text-transform: uppercase;
		}
		p {
			font-size: 20px;
		}
	}
	.social-media {
		i {
			font-size: 24px;
			padding: 10px;
			color: $white;
		}
		i:hover {
			color: $main-color;
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 30px;
		}
	}
}
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 36px;
		}
		.main-img {
			background-image: url('/Img/game-console-g020c704ef_1920.jpg');
		}
	}
}
@media (min-width: 992px) {
	nav {
		height: 82px;
	}
	.technology {
		color: $white;
		position: relative;
		background-image: url('/Img/technology-1920.jpg');
	}
	.prices {
		.price-info {
			font-size: 20px;
		}
	}
	.contact {
		background-image: url(/Img/architecture-1868667_1920.jpg);
	}
}

@media (min-width: 1200px) {
	header {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 20px;
		}
		.btn-outline-light {
			font-size: 20px;
			padding: 10px 30px;
		}
	}
	#navbar {
		font-size: 20px;
		.navbar-brand {
			font-size: 20px;
		}
	}
}
